/* Постояные клиенты */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
    }
  }
  &__link {
    color: inherit;
    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2 - 60px);
  margin: 15px;
  height: 90px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  cursor: pointer;

  border: $primary-icon-color 1px solid;
  border-radius: 4px;
  color: $primary-icon-color;

  &:hover,
  &:focus {
    border: $accent-color 1px solid;
    color: $accent-color;
  }
  & + & {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}
