.logo {
  color: $title-text-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  .web {
    color: $accent-color;
  }
}

.logo--inverse {
  @extend .logo;
  display: inline-block;
  margin-bottom: 20px;

  color: $primary-white-color;
}
